// :root {
// // --background-color: #c5d6da;
// }

// .custom-block.tip {
// // background-color: #f3f5f7;
// }

// .home-blog {
// // #92b0be
// // background: #c5d6da;
// }
.home-blog .hero {
  // height: 450px !important;
}

.home-blog .hero h1 {
  // font-size: 30px !important;
  color: var(--text-color);
}

.home-blog .hero .description {
  // font-size: 25px !important;
  color: var(--text-color);
}

// .home-blog .home-blog-wrapper .info-wrapper {
// padding: 20px !important;
// }

// .navbar .links {
// right: 4rem !important;
// }

// .color-picker {
// order: 999;
// margin-left: 20px;
// margin-right: 30px;
// }
// .DocSearch-Button {
// width: 250px;
// }
.DocSearch-Button:active, .DocSearch-Button:focus, .DocSearch-Button:hover {
  background: rgba(255, 255, 255, 0.5) !important;
}

.DocSearch-Button {
  width: 250px;
  background: rgba(255, 255, 255, 0.5) !important;
}

.search-box .DocSearch-Button-Keys {
  display: flex !important;
  position: absolute;
  right: 0.3rem;
}

.search-box .DocSearch-Button-Key {
  font-size: 12px;
  line-height: 20px;
}

$mobileSidebarWidth = $sidebarWidth * 0.82;

// narrow desktop / iPad
@media (max-width: $MQNarrow) {
  .sidebar {
    font-size: 15px;
    width: $mobileSidebarWidth !important;
  }

  .page, .password-wrapper-in {
    margin-left: $mobileSidebarWidth !important;
  }

  .comments-wrapper {
    padding: 2rem 2rem 2rem $mobileSidebarWidth * 1.1 !important;
  }
}

// wide mobile
@media (max-width: $MQMobile) {
  .sidebar {
    top: 0;
    padding-top: $navbarHeight !important;
    transform: translateX(-100%);
    transition: transform 0.2s ease;
  }

  .page, .password-wrapper-in {
    margin-left: 0 !important;
  }

  .comments-wrapper {
    padding: 2rem 2rem 2rem 2rem !important;
  }

  .theme-container {
    &.sidebar-open {
      .sidebar {
        transform: translateX(0) !important;
      }
    }

    &.no-navbar {
      .sidebar {
        padding-top: 0 !important;
      }
    }
  }

  .password-shadow {
    padding-left: 0 !important;
  }
}

// narrow mobile
@media (max-width: $MQMobileNarrow) {
  h1 {
    font-size: 1.9rem;
  }

  .content__default {
    div[class*='language-'] {
      margin: 0.85rem -1.5rem !important;
      border-radius: 0;
    }
  }
}

// about me
@media (min-width: ($MQMobile + 1px)) {
  .theme-container.no-sidebar {
    .sidebar {
      display: none;
    }

    .page, .password-wrapper-in {
      margin-left: 0 !important;
    }

    .comments-wrapper {
      padding: 2rem 2rem 2rem 2rem !important;
    }
  }
}

// 标签列表样式
.abstract-item {
  // background-color: #acdcfd3d !important;
  transition: all 0.5s;
}

.abstract-item:hover {
  transform: scale(1.02);
  transition: all 0.5s;
}

// 滚动条样式
::-webkit-scrollbar {
  width: 6px !important;
}

/* 滚动条的设置 */
::-webkit-scrollbar-thumb {
  background-color: #94989c8c !important;
  background-clip: padding-box !important;
  -webkit-border-radius: 10em !important;
  -moz-border-radius: 10em !important;
  border-radius: 10em !important;
}

/* 滚动条凹槽的颜色，还可以设置边框属性 */
::-webkit-scrollbar-track-piece {
  background-color: transparent !important;
  -webkit-border-radius: 0em !important;
  -moz-border-radius: 0em !important;
  border-radius: 0em !important;
}

/* 滚动条鼠标移上去 */
::-webkit-scrollbar-thumb:hover {
  background-color: #bbb !important;
}

// navbar字体大小
.navbar .links {
  font-size: 15.5px !important;
}

// 容器样式
.theorem {
  margin: 1rem 0;
  padding: 0.1rem 1.5rem;
  border-radius: 0.4rem;
  background-color: #c9daea61;

  .title {
    font-weight: bold;
  }
}

.custom-block {
  &.right {
    color: transparentify($textColor, 0.4);
    font-size: 0.9rem;
    text-align: right;
  }
}

@require './markdown-container';